<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/resetpassword" method="post">
        {% csrf_token %}
        <input type="text" placeholder="new password" name="newpwd">
        <input type="text" placeholder="Conform new password" name="cnewpwd">
        <button type="submit">Reset password</button>
    </form>
    {% for message in messages %}
    <h1>{{message.message}}</h1>
    {% endfor %}
</body>
</html>