<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="studentlogin" method="post">
        {% csrf_token %}
        <input type="text" name="un" placeholder="Enter Username">
        <input type="text" name="pw" placeholder="Enter Password"><br>
        <a href="/register">Sign Up</a>
        <a href="/forgotpwd">Forget Password</a><br>
        <button type="submit">Login</button>
    </form>
    {% for message in messages %}
    <h1>{{message.message}}</h1>
    {% endfor %}
</body>
</html>